.main-title {
    display: flex;
    gap: 250px;
    align-items: center;
    margin-left: 100px;
}

.device {
    border-radius: 10px;
    width: 580px;
}

#team-img img {
    border-radius: 15px;
}

.logo {
    width: 150px;
}